<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>SoulMate</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag "layout" %>
</head>
<body>
<div id="layout">
  <div id="header">
    <div id="logo"><%= image_tag "let_mingle.jpg" %></div>

  </div>


  <div id="body_container">

    <div id="body_container_inner">


      <div id="menu">
        <ul>
          <li><%= link_to "HOME", home_path %></li>
          <li><%= link_to "BROWSE", browse_path %></li>
          <li><%= link_to "MATCH", match_path %></li>
          <li><%= link_to "PROFILE", edit_user_registration_path %></li>
          <li><%= link_to "SUPPORT", support_path %></li>
          <li><%= link_to "CONTACT US", contact_us_path %></li>
        </ul>
      </div>

      <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>

      <% if notice %>
          <p class="alert alert-success"><%#= notice %></p>
      <% end %>
      <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <div class="banner"><a href="#"><%= image_tag "banner.jpg" %></a></div>






      <%= yield %>






      <div id="footer">
        <div class="footer_link">
          <ul style="color:#FFf;">
            Copyright (c) Sitename.com. All rights reserved. Design by Stylish <a href="http://www.stylishtemplate.com" style="text-decoration:underline; color:#FFF;">Website Templates</a>.
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>